.layout {
  min-height: 100%;
  display: flex;
}
.layout__crumple-zone {
  flex-grow: 1;
}
.layout__bg-contanier {
  flex-basis: 390px;
  background-repeat: no-repeat;
}
.layout__bg-contanier--left {
  background-image: url(../../assets/hexagons-left.svg);
  background-position: right top;
}
.layout__bg-contanier--right {
  background-image: url(../../assets/hexagons-right.svg);
  background-position: left bottom;
}
.layout__container {
  width: clamp(15em, 94vw, 25em);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
