.button {
  display: block;
  border-radius: 0.75em;
  padding: 0.6em 2.5em;
  color: var(--greyDark);
  box-shadow: 1px 1px 2px 1px #00000022, 3px 3px 4px 1px #00000011,
    -2px -2px 1px 1px #fff9;
  cursor: pointer;
  transition: var(--transition-time-1);
  text-align: center;
}
.button:hover {
  color: var(--primary-dark);
}
.button.button--primary {
  color: var(--greyLight-1);
  background-color: var(--primary);
  box-shadow: 1px 1px 2px 1px #00000028, 3px 3px 4px 1px #00000011,
    -2px -2px 1px 1px #fff9, inset 3px 3px 4px 0px #fff6, 0px 0px 0px 1px #0001,
    inset 0px 0px 0px 1px #fff1, inset -2px -2px 3px 0px #0003;
}
.button.button--primary:hover {
  color: var(--white);
}
.button:active {
  box-shadow: inset 1px 1px 2px 1px #00000022, inset 3px 3px 4px 1px #00000011,
    inset -2px -2px 1px 1px #fff9;
}
.button.button--primary:active {
  box-shadow: inset 3px 3px 5px 2px #00000044, 0px 0px 0px 1px #0001,
    inset -6px -6px 7px 0px #fff4;
}
