@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Smooch+Sans:wght@500;600&display=swap');

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --secondary: #3877ab;
  --secondary-muted: #7795ad;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --greyDarker: #808cac;

  --transition-time-1: 0.4s;
}
html,
body,
#root,
.app {
  height: 100%;
}
body {
  background-color: var(--greyLight-1);
  font-family: Poppins;
  color: var(--greyDark);
}
pre {
  white-space: pre;
}
