.task {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.35em;
  box-shadow: 1px 1px 2px 1px #00000022, 3px 3px 4px 1px #00000011,
    -2px -2px 1px 1px #fff9;
  border-radius: 0.35em;
}

.task__display {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: 1.25em;
  margin-right: auto;
  transition: var(--transition-time-1);
}
.task__description {
  color: var(--secondary-muted);
  font-size: 1.1em;
}
.task__time {
  font-size: 0.8em;
}
.task__switch {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  margin-left: 1.25em;
}
.task__icon-button {
  margin: 0.5em 1.25em;
}
.task--loading {
  color: var(--greyLight-2);
}
