.text-input {
  padding: 0.75em 1.25em;
  border-radius: 0.5em;
  box-shadow: inset 1px 1px 2px 1px #00000011, inset 3px 3px 4px 1px #00000011,
    inset -2px -2px 3px 1px #fff9;
  color: var(--greyDark);
}

.text-input:focus {
  box-shadow: 1px 1px 2px 1px #00000011, 3px 3px 4px 1px #00000011,
    -2px -2px 3px 1px #fff9;
}

.text-input::placeholder {
  color: var(--greyLight-2);
}

.text-input-invalid {
  outline: solid 2px #ce126a68;
  background-color: #ce126a0d;
  color: #f1f1f1;
}
.text-input-invalid::placeholder {
  color: #f3f3f3;
}
